{% extends "layout.html" %}
{% block content %}
    <div class="container" style="background-color: rgb(198, 199, 201); height: 700px">
        <div><br><br>
        <form method="POST"  action="">
            {{form.hidden_tag()}}
            <fieldset style="width: 450px;">
                <legend>
                    Join Today
                </legend>
                <div>
                    {{form.firstName.label}}<br>
                    {{form.firstName}}
                </div>
                
                <div>
                    {{form.lastName.label}}<br>
                    {{form.lastName}}
                </div>
                <div>
                    {{form.username.label}}<br>
                    {{form.username}}
                </div>
                
                <div>
                    {{form.email.label}}<br>
                    {{form.email}}
                </div>
                
                <div>
                    {{form.password.label}}<br>
                    {{form.password}}
                </div>
                
                <div>
                    {{form.password_repeat.label}}<br>
                    {{form.password_repeat}}
                </div>

            </fieldset><br><br>
            <div>
                {{form.submit}}
            </div>

        </form>
    </div>
    <small>
        Already Have An Account? <a href="{{url_for('login')}}">Sign In</a>
    </small>
</div>
</div>
    <div>
       
{%endblock content%}